# ==========================
# Frontend
# ==========================
frontend/node_modules/
frontend/.next/
frontend/out/

# Environment
frontend/.env
frontend/.env.local
backend/.env
backend/.env.backup
backend/cd backend.txt

# ==========================
# Go
# ==========================
backend/bin/
backend/tmp/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db